.App {
  text-align: center;
}

table.table {
  border: 1px dotted #000;
}

thead.thead-dark {
  background: #00000073;
}

table.table td {
  border-right: 1px dotted #0000006e;
}











































































